@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h3>Resultados de la búsqueda</h3>
    <ul class="nav nav-tabs">
        <li><a href="#">Consulta 1</a></li>
        <li><a href="#">Consulta 2</a></li>
        <li><a href="#">Consulta 3</a></li>
    </ul>
 </div>
