body {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



    /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
   margin-bottom: 0;
   border-radius: 0;
   background-color: #fff;
 }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #fff;
      color: #555;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

    #divImg{
      float:left;  
      padding-left:15px; 
    }

  #btnPack1{
      position: absolute;
    right: 0;
    top: 0;
         
    }


  .navbar-search {
  margin-top: 4px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 1px;
}

.navbar-search select {
  position: relative;
  left: 84px;
  z-index: 99;
}

.navbar-search input {
  padding-left: 84px;
}

.navbar-search select,
.navbar-search input {
margin-bottom: 0px;
}



.navbar-custom {
        background-color:#fff;
        color:#ffffff;
        border-radius:0;
       
    }

    .navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color:#03A9F4;
       /* background-color:#2196F3; */
    }

    .navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #03A9F4;/*Fondo desplazable*/ 
    }

    .navbar-custom .navbar-brand {
        color:#eeeeee;
    }
    .navbar-custom .navbar-toggle {
        background-color:#eeeeee
    }

    .navbar-custom .navbar-inverse {
     color: #ffffff;
        background-color:#fff;

    }
     


    .navbar-custom .icon-bar {
        background-color:#33aa33;
    }





    a {
    background-color: white;
}

    @media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}


a:visited,active {
    color: black!important;
}

a:hover {
    color: white!important;
}

a:focus {
    color: white!important;
    background-color:#fff;

}

#buscador{
    width:350px;
}


#txtSearch { 
 	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*
    -moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	*/
    font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
#txtSearch:focus {
	border-color: #339933;
    color:#000;
}
    
.navbar-search select {
    left: 2px;
    position: relative;
    z-index: 99;
}

 .navbar-custom .navbar-inverse >li>a:hover{
     color: #000;
        background-color:#fff;

    }
